@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
  background: white;
}

//skills

.skills__container_data {
  img {
    width: 60px;
  }
}

@media (min-width: 680px) {
  .skills__container_data {
    img {
      width: 70px;
    }
  }
}

// works

@media (min-width: 1024px) {
  .works__container_all_works {
    .works__work_img {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #01010135;
        backdrop-filter: blur(2px);
        transition: 0.3s;
      }
    }
    .works__work:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }
}

.works__work {
  &:hover {
    .works__work_img::before {
      background-color: transparent;
      backdrop-filter: blur(0);
    }
  }

  .works__work_link {
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      width: 0%;
      height: 100%;
      top: 0;
      left: 0;
      background: #0193ec;
      transition: 0.3s;
      z-index: -1;
      border-radius: 100px;
    }
    &:hover::before {
      width: 100%;
    }

    &:hover {
      color: white;

      svg path {
        stroke: white;
      }
    }
  }
}

// nav mobile
.header__mobile_nav_active {
  transform: translateY(0);
}

.footer__links {
  a {
    &:hover {
      svg path {
        fill: #1a1a1a;
      }
    }
  }
}

.header__nav {
  animation: opacityAnim 1s 2s ease-in-out forwards;
  opacity: 0;
}

.header__intro_line1 {
  animation: headerlineAnim 1.5s 0.9s ease-in-out forwards;
  transform: rotateX(-90deg);
}

.header__intro_line2 {
  animation: headerlineAnim 1.3s 0.3s ease-in-out forwards;
  transform: rotateX(90deg);
}

.header__arrow_intro {
  opacity: 0;
  animation: opacityAnim 1s 2s ease-in-out forwards,
    translateYAnim 1.6s 2.2s ease-in-out infinite;
}

.header__stack {
  animation: opacityAnim 1s 2s ease-in-out forwards;
  opacity: 0;
}

@keyframes headerlineAnim {
  0% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0);
  }
}

@keyframes opacityAnim {
  100% {
    opacity: 1;
  }
}

@keyframes translateYAnim {
  100% {
    bottom: 20px;
    opacity: 0.2;
  }
}

.title {
  position: relative;
  padding-left: 20px;
  &::before {
    content: "";
    width: 2px;
    height: 100%;
    background-color: #0193ec;
    position: absolute;
    left: 0;
  }
}

.circular_text {
  animation: circularText 16s linear infinite;
}

@keyframes circularText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
